body {
    font-family: 'Times New Roman', Times, serif;
    color: #313131;
    background: #ffffff;
    font-size: 1.25rem;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.s-h-divider {
    width: 120px;
    height: 3px;
    background: #313131;
}

.section {
    padding: 5rem 0rem;
}

.section-heading h2 {
    font-family: sans-serif;
    font-size: 3.5rem;
}

/* nav custom style start */
@media (max-width: 768px){
    .navbar{
        padding: 0rem 1rem !important;
    }
}
.navbar-bg{
    background: #000 !important;
    opacity: .6;
}
.scroll{
    opacity: 1;
}
.navbar-brand-name {
    font-size: 2.75rem;
    cursor: pointer;
}

#top-menu .nav-link {
    color: White;
    font-weight: 500;
    transition: .3s;
}

#top-menu .nav-link:hover {
    color: #00ffff;
}
#top-menu .active {
    color: #00ffff;
}

input:focus{
    box-shadow: none !important;
}




/* nav custom style end */


/* slider style start */
/* caption style */
@media (min-width: 520px){
    .nivo-caption {
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        text-align: center;
    }
    
    .nivo-caption .h-1 {
        font-size: 1rem;
        font-weight: bold;
    }
    
    .nivo-caption .h-2 {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .caption-btn-right,
    .caption-btn-left {
        color: white;
        font-weight: 400;
        font-size: .75rem;
        padding: 5px 20px;
        border-radius: 20px;
    }
    
    .caption-btn-left:hover {
        background: transparent;
    }
}

@media (min-width: 695px){
    .nivo-caption {
        bottom: 14%;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        text-align: center;
    }
    
    .nivo-caption .h-1 {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .nivo-caption .h-2 {
        font-size: 1.75rem;
        font-weight: bold;
    }
    
    .caption-btn-right,
    .caption-btn-left {
        color: white;
        font-weight: 5000;
        font-size: 1rem;
        padding: 10px 28px;
        border-radius: 28px;
    }
    
    .caption-btn-left:hover {
        background: transparent;
    }
}

@media (min-width: 900px){
    .nivo-caption {
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        text-align: center;
    }
    
    .nivo-caption .h-1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .nivo-caption .h-2 {
        font-size: 3.25rem;
        font-weight: bold;
    }
    
    .caption-btn-right,
    .caption-btn-left {
        color: white;
        font-weight: 600;
        font-size: 1.20rem;
        padding: 12px 35px;
        border-radius: 30px;
    }
    
    .caption-btn-left:hover {
        background: transparent;
    }
}


.nivo-controlNav {
    position: absolute;
    bottom: 3%;
    padding: 0px;
    left: 42%;
    z-index: 900;
}


.nivo-controlNav a {
    width: 30px !important;
    height: 4px !important;
    background: White !important;
}

.nivo-controlNav a.active {
    background: #00ffff !important;
}

/* slider style end */


/* baout us section start */
.about-us-text a {
    color: #808080;
    text-decoration: none;
    font-size: 1.25rem;
}

.about-us-text a:hover {
    color: #00ffff;
}

.a-t-list li svg {
    font-weight: 400 !important;
    font-size: .8rem !important;
    color: #00ffff !important;
}

/* baout us section end */


/* services styel start */
.s-item {
    padding: 25px 0px;
    cursor: pointer;
    transition: .3s;
}

.s-item h2 svg {
    width: 80px !important;
    height: 80px;
    font-size: 3rem;
    padding: 10px;
    border: 8px solid #00ffff;
    border-radius: 50%;
    transition: all ease .3s;
}

.s-item h3 {
    font-weight: 600;
    transition: .3s;
}

.s-item:hover {
    box-shadow: 0px 0px 25px gray;
}

.s-item:hover h2 svg {
    border-color: #cacaca;
    background: #00ffff;
    color: #fff;
}

.s-item:hover h3 {
    color: #00ffff !important;
}

/* services styel end */


/* skill style start */
.skill-wrapper{
    width:100%;
    height: 100%;
    background: #313131b6;

}



.skill-bg-img {
    background: url(../image/bg1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.s-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.74);
}

svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10;
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
    fill: #00ffff;
    text-anchor: middle;
}

svg.radial-progress circle {
    stroke: #07e7f7;
}
/* skill style end */



/* faq question style start */
.faq-questions .card-header{
    padding: 3px  0px;
}
.faq-questions .card-header .collapse-heading{
    font-size: 1.5rem;
    text-decoration: none;
}

.faq-questions .nav-tabs-collapse .nav-link{
    font-size: 1.5rem;
}
/* faq question style end */


/* welcome style start */
.welcome-form .welcome-heading{
    font-size: 3rem;
    font-weight: 500;
}
.welcome-form p{
    font-size: 1.5rem;
}
.welcome-form .input-group{
    width:550px;
    height: 60px;
	
}
.welcome-form .input-group .form-control{
    height: 60px !important;
    border:2px solid #00ffff;
    border-right: 0px;
    outline: none;
    background: transparent;
    color:White;
    font-size: 1.4rem;
    border-radius: 35px 0px 0px 35px;
}

.welcome-form .input-group .sub-btn{
    width:160px;
    font-size: 1.4rem;
	background: #00ffff;
	color:#fff;
	border:2px solid #00ffff;
	border-left:0px;
    border-radius:0px 35px 35px 0px;
}
.welcome-form .input-group .sub-btn:hover{
	background: #fff;
	color:#00ffff;
}
/* welcome style end */



/* team section style start */
.membur{
    cursor: pointer;
}
.membur .card-img-overlay{
    background: rgba(0, 0, 0, 0.726);
    z-index: 100;
    visibility: hidden;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.membur .card-img-overlay .nav{
    position: absolute;
    top: 20%;
    transition: .3s;
}
.membur .card .card-img-overlay .nav li svg{
    width:40px !important;
    height: 40px;
    padding: 8px;
    border:1px solid #00ffff;
    color:#00ffff;
    border-radius: 50%;
}
.membur .card:hover .card-img-overlay{
    visibility: visible;
}
.membur .card:hover .card-img-overlay .nav{
    top:30%;
}

.membur .card-body{
    z-index: 500;
}
/* team section style end */


/* workin btn section style  */
.working-bg-img-2 .contact-btn{
    padding:13px 40px;
    border-radius: 30px;
    color:#00ffff;
    border:1px solid #00ffff;
}
.working-bg-img-2 .contact-btn:hover{
    color:#fff;
    background: #00ffff;
}
/* workin btn section end */


/* portfolio section start */

.portfolio-menu ul li {
    padding: 5px 25px;
    cursor: pointer;
    transition: .3s;
    margin: 0px 5px;
    border: 1px solid #00ffff;
    color:#00ffff;
    border-radius: 30px;
}

.portfolio-menu ul li:hover {
    background: #00ffff;
    color: white;
}

.portfolio-menu ul .active {
    background: #00ffff;
    color: white;
}
/* portfolio sectio  end */


/* pricing section start */
.price-card .card-header{
    border-bottom: 0px;
    background: none;
}
.price-card .top-sell-head{
    position: relative;
    overflow: hidden;
}
.price-card .top-sell-head .top-sell{
    position: absolute;
    top:20px;
    left:-40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding:2px 40px;
    background: #00ffff;
    color:#fff;
    transform: rotateX(45deg);
    -moz-transform: rotate(-45deg);
}
.price-card .card-header h2{
    font-weight: 700;
}
.price-card .card-header h4{
    font-size: 1rem;
    opacity: .8;
}
.price-card .card-body{
    padding:0px;
}
.price-card .card-body ul li{
    border-bottom: 1px solid #cacaca;
    padding:9px 13px;
    padding-right: 40px;
}
.price-card .card-footer{
    border-top: 0px;
    padding-top: 0px !important;
    background: transparent;
}
.price-card .card-footer .card-f-btn{
    padding:12px 40px;
    border-radius: 30px;
}
.price-card .card-footer .btn-2{
    border-color: #00ffff !important;
    background: #00ffff;
}
.price-card .card-footer .btn-2:hover{
    background: transparent;
    color:#00ffff;
}
/* pricing section end */



/* carousel style start */
.carousel-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
}
.carousel-caption svg{
    text-align: center;
    font-size: 3rem;
}
/* carousel style end */


/* latest news style start */
.news-cards .card {
    border: 0px;
}
.news-cards .card h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #313131;
    transition: .3s;
    cursor: pointer;
}
.news-cards .card .news-btn{
    padding:12px 35px;
    border-radius: 30px;
}
/* latest news style end */


/* get quote sectio style start */
#quote p{
    font-size: 1.5rem;
}
.quote-btn{
    padding: 12px 40px;
    background: #fff;
    color:#17a2b8;
    border-radius: 30px;
}
.quote-btn:hover{
    background: #17a2b8;
    color: #fff;
}
/* get quote sectio style end */


/* contact section style start */
.information .phone,.information .email,.information .location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.phone svg, .email svg, .location svg{
    color:#00ffff;
    margin-bottom: 30px;
    width:60px !important;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border:1px solid #00ffff;
    border-radius: 50%;
    text-align: center;
}

.contact-form .form-group .form-control{
    height: 55px;
    border-radius: 0px;
    width: 100%;
}
#message{
    width:100%;
    height: 10rem;
    border: 1px solid #ced4da;
    padding:.375rem .75rem;
    resize: none;
}
#message:focus{
    border-color:#07e7f7;
}
.form-btn .submit-btn{
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 1.5rem;
}
/* contact section style end */


/* footer up style start */
.about-ebusiness ul li svg{
    width:40px !important;
    height: 40px;
    padding:5px;
    border-radius: 50%;
    border:1px solid #00ffff;
    color:#00ffff;
    transition: .2s;
}
.about-ebusiness ul li svg:hover{
    background: #00ffff;
    color: #fff;
}
.f-info h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.f-instgm h3{
    font-size: 1.5rem;
    font-weight: 500;
}
/* footer up style end */



#createConv{
    display: none;
}