body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(83, 83, 83);
    background: rgb(241, 212, 212);
    position: relative;
    width:100%;
    height: 100%;
}
.container-fluid{
    padding: 0;
}

.container-wrapper a {
    color: #5f5f5f;
    transition: color .3s;
}
.container-wrapper a:hover {
    color: #00ff00;
    text-decoration: none;
}
.form-control, .btn {
    border-radius: 0px;
    height: 45px;
}
.form-control:focus, .btn:focus {
    box-shadow: 0 0 0;
}
.btn-success{
    background: #00ff00;
    border-color: #00ff00;
}

/* share btn styling */
.share-btn .nav .nav-link {
    border:1px solid rgba(0, 0, 0, 0.199);
    transition: .3s;
}
.share-btn .nav .nav-link:hover {
    background: #00ffff !important;
    color: #fff;
}


/* nivo slider styling */
.slider-wrapper img{
    max-height: 300px;
    object-fit: cover;
}
.nivo-controlNav{
    display: none;
}
#slider{
    margin-bottom: 0px;
}
.nivo-nextNav, .nivo-prevNav{
    background: firebrick;
    opacity: 1;
}

.header-widget-section , .footer-full-width-widget{
    width:100%;
    max-height: 200px;
    margin:5px auto;
    text-align: center;
}


/* navbar styling */

.top-nav{
    background: #00ffff;
    color: #fff !important;
}
.top-nav a{
    color: #fff;
}
.top-nav a:hover{
    color: rgb(65, 65, 65);
}
.navbar-toggler svg{
    color: tomato;
}
.navbar-brand{
    padding-right: 0px;
    line-height: 0rem;
    padding:0px;
}
.navbar-brand .brandding-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    height: 2rem;
    padding-top: .35rem;
    color: tomato;
}
.navbar-brand img{
    max-height: 40px;
    padding-bottom: 10px;
}
.navbar-brand .description{
    font-style: italic;
    font-size: 12px;
}
.navbar-nav li {
    padding: 0 3px;
    position: relative;
}
.navbar-nav li a {
    display: block;
    padding: 20px 3px;
    font-size: 16px;
    font-weight: 600;
}

@media (min-width:992px){
    .navbar-nav li ul{
        position: absolute;
        list-style: none;
        width: 170px;
        left:0;
        background: #00ffff;
        border-top:2px solid rgb(0, 255, 0);
        padding-left: 0;
        left:-999999999px;
        transition: left .3s;
    }
    .navbar-nav li:hover ul{
        left: 0px;
    }
    .navbar-nav li ul li {
        position: relative;
        list-style-type: none;
        padding-right: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        transition: .3s;
    }
    .navbar-nav li ul li:hover{
        background: rgb(129, 255, 255);
    }
    .navbar-nav li ul li a{
        padding: 10px;
    }

    .navbar-nav li ul li ul{
        position: absolute;
        margin-left: 170px;
        top:-999999999px;
        border-top:0px;
        border-left: 2px solid #00ff00;
        transition: .3s;
    }
    .navbar-nav ul li:hover ul{
        top:0;
    }
}
 @media(max-width:991.98px){
    .navbar-nav li a{
        padding: 5px 0px;
    }
    .navbar-nav li ul, .navbar-nav li ul li ul {
        position: relative;
        list-style: none;
        display: none;
        transition: all 3s;
    }
    .navbar-nav li .dropdown-show, .navbar-nav li ul li .sub-dropdown-show {
        display: block;
    }
    .search-box .btn{
        width:15vw;
    }
 }


 /* blog post styling */
.featured-post img{
    max-height: 350px;
    width:100%;
    object-fit: cover;
}
.post-heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.post-meta span{
    font-size: 13px;
    color: rgb(110, 110, 110);
}
.more-link{
    padding-right: 2rem;
}

/* sidebar styling */
.sidebar-widget-title, .footer-widget-title{
    background: #00ffff;
    padding: 5px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.sidebar-widget-content ul, .footer-widget-content ul{
    padding-left: 0px;
}
.sidebar-widget-content ul li, .footer-widget-content ul li {
    list-style-type: none;
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}
.sidebar-widget-content ul li:before, .footer-widget-content ul li:before {
    content: '';
    position: absolute;
    left: 25px;
    top:7px;
    width: 15px;
    height: 15px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #00ff00;
     
}
.sidebar-widget-content ul li a, .footer-widget-content ul li a{
    display: block;
    padding: 5px;
}
.copy-write-area{
    background: #000;
}
body .go-top{
    position: fixed;
    bottom:40px;
    right:40px;
    z-index: 9999;
}
body .go-top a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00ffff;
    border:0px;
    visibility: hidden;
    transition: all .3s ease;
}
body .go-top .scroll{
    visibility: visible;
}
body .go-top a:hover{
    border-radius: 50%;
    background: #00ff00;
}

@media(max-width:576px){
    .post-single{
        position: sticky !important;
        bottom:0;
    }
}

/* another stylnig for button mobile */

@media(max-width:250px){
    .slider-cont-wrapper{
        display: none;
    }
    nav{
        position: static !important;
    }
    .post-single{
        position: static !important;
        bottom:0;
    }
}

/* navbar shadow styling */
.scroll{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.438);
}