
body{
    background: #fff;
    font-family: 'Raleway', sans-serif;
    color:#161616;
    font-size: 1em;
}

.center-center{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.section{
    padding:5rem 0rem;
}


.section-heading h2{
    font-size:3rem;
    color:rgb(77, 77, 77);
}


/* first look window */
.first-look-parallax{
    background: url(../image/bg1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 100vh;
    min-height: 700px;
}
.overlay-bg{
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.863);
}
.b-name-linkup:hover{
    text-decoration: none;
}
.b-name{
    font-size: 3rem;
}
.b-name .name{
    border-bottom: 4px solid #fff;
}
.first-look-heading{
    font-weight: bold;
    font-size: 4rem;
}
.first-look-prg{
    font-size: 2rem;
}
.first-look-btn{
    padding:1rem 2.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    border:none;
}
.first-look-btn:hover{
    background: #ff8800;
    color:#72e2f3;
}

input , textarea{
    box-shadow: 0px 0px 0px black !important;
}


/* navbar */

nav{
    position: sticky;
    top:0;
    left:0;
    z-index: 1000;
}
#mainMenu .nav-link{
    font-size: 1.25rem;
    font-weight:500;
}

#mainMenu .dropdown-menu{
    margin-top:8px;
    border-top:7px solid #17a2b8;
}
#mainMenu .social-icon a{
    color:#fff;
    font-size: 1.5rem;
    width:40px;
    height: 40px;
    border:3px solid #fff;
    margin:0px 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  .3s;
}
#mainMenu .social-icon a:hover{
    background: #ff8800;
    color: #17a2b8;
}


/* about section */
.stats{
    width:8rem;
    height: 8rem;
    border:5px solid #17a2b8;
    border-radius:50%;
    text-align: center;
    padding:36px 0px;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.25rem;
}
.stats-no{
    width:50px;
    height: 50px;
    background: #ff8800;
    border-radius: 50%;
    position: absolute;
    top:-12px;
    left:6rem;
    color:#fff;
    font-size:1.3rem;
    padding-top: .6rem;
}


/* Features section */
.features svg{
    width:80px !important;
    height: 80px;
    padding:20px;
    font-size: 2.5rem;
    background: #17a2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin:0 auto;
    margin-bottom: 1.5rem;
}


/* call to action */
.c2a-btn{
    padding:1rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    border-block-width: 5px;
    background: #ff8800;
    transition: all ease .3s;
}
.c2a-btn:hover{
    color:#ff8800;
    border-color: #ff8800;
    border-block-color: #ff8800;
}

.theme-parallax{
    min-height: 300px;  
    background: url(../image/bg-1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


/* portfolio section */

.pf-bg-img{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover !important;
}
.pf-text{
    visibility: hidden;
    background: hsla(0, 0%, 9%, 0.788);
    width:100%;
    height: 100%;
    padding:1rem;
    opacity: 0;
    transition: all .3s ease-in;
}
.pf-bg-img:hover .pf-text{
    visibility: visible;
    opacity: 1;
}

/* team section */
.team-member{
    cursor: pointer;
    transition: all ease .3s;
}
.member-img{
    background: url(../image/bg-1.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit:cover;
}
.member-profile{
    background: hsla(0, 0%, 9%, 0.815);
    width:100%;
    height: 100%;
    padding:1rem;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
}
.member-name{
    padding:.5rem 0rem;
}
.member-name h2 {
    font-size: 22px;
}
.member-name h4 {
    font-size: 18px;
}
.team-member:hover{
    background: #17a2b8;
}
.team-member:hover .member-profile{
    visibility: visible;
    opacity: 1;
}


/* contact */
.contact-form #textarea{
    width:100%;
    height: 12rem;
    padding:10px 12px;
    border:1px solid rgb(204, 204, 204);
    border-radius: 4px;
    resize: none;
}
.contact-form #textarea:focus{
    border-color: #17a2b8; 
}


@media (max-width: 992px){
    .b-name {
        font-size: 40px;
    }
    .first-look-heading {
        font-size: 40px;
    }
    .first-look-prg{
        font-size: 1.5rem;
    }
}
@media (max-width:768px){
    .navbar-brand h2 {
        font-size: 25px;
    }
    .b-name {
        font-size: 30px;
    }
    .first-look-heading {
        font-size: 30px;
    }
    .first-look-prg{
        font-size: 1rem;
    }
    .first-look-btn{
        padding: .5rem 1rem;
    }
    .section-heading h2{
        font-size: 2.2rem;
    }
    .pf-bg-img{
        height: 200px;
    }
    .member-img{
        min-height: 350px;
    }
}