



#createConv{
    display: none;
}
body p{
    font-size: 1em;
}
strong{
    font-weight: 600;
}

#top-nav{
    background: #a06210 !important;
    width: 100vw;
}
#main-menu ul a{
    font-size: 22px;
    text-transform: uppercase;
}
.section{
    padding:6rem 0rem;
    border-bottom:.2px solid rgb(202, 202, 202);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    border:1px solid #a06210;
    margin:0 10px;
    border-radius:50%;
    transition: .3s;
    font-size: 22px;
}
.social .nav-item:nth-child(1) .nav-link:hover{
    background: #5677BF;
    color:#fff;
}
.social .nav-item:nth-child(2) .nav-link:hover{
    background: #1DA1F2;
    color:#fff;
}
.social .nav-item:nth-child(3) .nav-link:hover{
    background: linear-gradient(#3F3AEE,#FF2454);
    color:#fff;
}
.social .nav-item:nth-child(4) .nav-link:hover{
    background: #0077B5;
    color:#fff;
}



@media (min-width:992px){
    .container-fluid{
        padding-left:17rem;
        padding-right:0px;
    }
    .section{
        padding-left:3rem;
        padding-right:20px;
    }
    
    #top-nav{
        width:17rem;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:0;
        left:0;
    }
    .navbar-collapse{
        flex-grow: 0;
    }
    #main-menu ul{
        display: flex;
        flex-direction: column;
    }


}

@media (max-width:768px) and (min-width:576px){
    .display-4{
        font-size: 40px !important;
    }
}

@media (max-width: 575.98px){
    .profile-name{
        font-size: 35px;
        font-weight: 700;
    }
    .display-4{
        font-size: 35px !important;
    }
}