body{
    background: #f5f5f5;
    font-family: sans-serif;
    color:rgb(68, 68, 68);
    font-size: 1rem;
}
.section{
    padding:5rem 0rem;
}

/* navbar section */

.navbar{
    padding:1.5rem;
    transition: all ease .3s;
}
.scroll{
    background: rgb(255, 255, 255) !important;
    box-shadow: 0px 0px 8px black;
    color:#007BFF;
    padding:.7rem;
}
.scroll  .text-white{
    color:#007BFF !important;
}
.navbar-toggler {
    background-color: #007bff;
}
.navbar-nav a{
    position: relative;
    font-size: 1.25rem;
}
@media (min-width: 992px){
    .navbar-nav a:before{
        content: '';
        width:0%;
        height: 3px;
        position: absolute;
        bottom:0;
        left:12%;
        background: white;
        transition: .3s;
    }
    
}

.scroll .navbar-nav a:before{
    background: #007BFF;
}

.navbar-nav .active::before{
    width:60%;
}
.navbar-nav a:hover::before{
    width:60%;
}

/* cover section */
.cover-section{
    background: url(../image/man-cover.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 100vh;
    object-fit: cover;
}
.overlay{
    background: rgba(0, 0, 0, 0.705);
    position: absolute;
    top:0;
    left:0;
}
.cover-text{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.name{
    text-transform: capitalize;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 1px;
}
.type , .typed-cursor{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 1px;
}

/* about section */
.about{
    box-shadow: 0px 0px 5px gray;
}
.biodata{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
#about .lead{
    color:rgb(77, 77, 77);
    font-family: 'Times New Roman', Times, serif;
}

/* services */
.section-heading{
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
}

.services-card{
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    padding:1.5rem 1rem;
}

.services-icon{
    display: inline-block;
    font-size: 4rem;
    padding:1rem;
    border:.7rem solid #007BFF;
    border-radius: 50%;
    margin-bottom:1rem;
    background: #fff;
    transition: all ease .3s;
}
.services-card h2 svg{
    width:1.8em !important;
    height: 1.8em;
}
.services-card:hover .services-icon{
    background: #007BFF;
    border: .7rem solid #e2e2e2;
    color:white;
}

/* counter */

.plx-overlay{
    background: #007BFF;
    position: absolute;
    opacity: .7;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;

}
.counter-icon{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem;
    border:.4rem solid #fff;
    display: inline-block;
    border-radius: 50%;
}
.counter-number, .counter-text{
    color:#fff;
}
.check svg{
    width:2.2em !important;
    height: 2.2em;
}

/* portfolio */


.img-wrap{
    overflow: hidden;   
}
.portfolio-img{
    transition: .3s;
}
.portfolios{
    cursor: pointer;
    box-shadow: 0px 2px 4px gray;
}
.portfolios i{
    font-size:2rem;
    color:#007BFF;
}
.portfolios:hover .portfolio-img{
    transform: scale(1.1)
}


/* slider */
.carousel{
    z-index: 50;
}
.carousel-item{
    height: 500px;
}
.carousel-caption{
    bottom: 25%;
}


/* blog section */
.card-body{
    box-shadow: 0px 1px 4px rgb(221, 221, 221);
    cursor: pointer;
}


.blog-name{
    background: #007BFF;
    font-size: .8rem;
    color:#fff;
}
.card-link{
    font-size: 1.2rem;
    color:black;
    transition: color .3s;
}
.card-link:hover{
    color:#007BFF;
}


/* contact section */

.parallax-window{
    position: relative;
}
.subscribe-wrapper{
    background: #ffffff;
    z-index: 100;
    padding:5rem 3rem;
}

.subscribe-wrapper .lead i{
    font-size: 1rem;
    color:#007BFF;
}

.subscribe-wrapper textarea{
    width:100%;
    resize: none;
    border: 1px solid #e2e2e2;
    padding:.5rem;
}
.send-btn{
    padding:1rem 2rem;
    border-radius: 30px;
}

.subscribe-wrapper .nav-link{
    padding:5px;
}
.subscribe-wrapper .nav-link i{
    padding:.6rem;
    border:.25rem solid #007BFF;
    border-radius: 50%;
    transition: all ease .3s;
    display: inline-block;
    margin-bottom: .3rem;
    color:rgb(80, 80, 80);
}
.subscribe-wrapper .nav-link:hover i{
    background: #007BFF;
    border:.25rem solid #e2e2e2;
    color:#fff;
}

.sec-footer{
    padding-bottom: 0px;
}

@media (max-width:786px){
    .name {
        font-size: 3rem;
    }
    .type, .typed-cursor{
        font-size: 2rem;
    }
    .section-heading{
        font-size: 45px;
    }
}

/* embed */
#createConv{
    display: none;
}