.container-wrapper{
    width:100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(101, 14, 214),rgb(10, 221, 236));
}
.form-wrapper{
    margin-top: 15%;
    box-shadow: 0 0 0 whitesmoke;
}
#year, #month, #day{
    width:100%;
    padding: 10px;
    border: none;
    text-align: center;
    color: #28a745;
}
.submit-btn{
    color: #28a745 !important;
    border-radius: 0px !important;
}
.submit-btn:focus{
    box-shadow: 0 0 0 0 black !important;
}

.spinner-border{
    border-color: aqua !important;
    border-right-color: transparent !important;
    width:5rem !important;
    height: 5rem !important;
}