@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* button:focus,
* input:focus {
  outline: none;
}

body {
  /* background-image: radial-gradient(rgba(0, 0, 0, 0.527), transparent), url(img/1.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  /* min-height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 15px;
  overflow: hidden;
  font-family: var(--font1);
}

.btn {
  padding: 7px 25px;
  border: 2px solid rgba(0, 0, 0, 0.397);
  background: var(--btn-bg);
  color: rgb(207, 197, 197);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.96);
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
}

.edit-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  border: 0px;
}

.edit-form {
  width: 300px;
  height: 100vh;
  background: rgba(31, 29, 29, 0.952);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: 50;
}

.edit-form.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.form {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: block;
  position: relative;
}

.close-btn {
  background: transparent;
  padding: 4px 10px;
  border-radius: 0px;
  border: 0px;
  color: red;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.close-btn:hover {
  background: red;
  color: #fff;
}

.form h3 {
  margin: 20px 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group p.heading {
  /* display: block; */
  margin-bottom: 7px;
  font-size: 1.1em;
}

.form-group .name,
.form-group .location {
  width: 100%;
  padding: 7px 10px;
  font-size: 1em;
}

.form-group.bgs label {
  margin-right: 15px;
  margin-left: 2px;
}

.form-group .picture {
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.form .submit {
  float: right;
  overflow: hidden;
}

.avatar-wrap {
  margin: 40px;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.ac-btn {
  position: absolute;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.671);
  bottom: -60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

.avatar-wrap:hover .ac-btn {
  bottom: 0;
}

.ac-btn .btn {
  background: transparent;
  border: 0px;
  color: var(--btn-bg);
}

.avatar-form-wrap {
  background: #fff;
  padding: 30px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #000;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.avatar-form-wrap.show {
  visibility: visible;
  opacity: 1;
}

.text {
  font-size: 2.5em;
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 15px;
  color: var(--text-color);
  font-family: var(--font3);
}

.weather-wrap {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.281);
  padding: 12px;
  border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -ms-border-radius: 0 0 0 100px;
  -o-border-radius: 0 0 0 100px;
  font-size: 1.6em;
  color: var(--btn-bg);
}

.weather-wrap .icon {
  margin-right: 10px;
}

.todo-wrap {
  width: 300px;
  padding: 10px;
  position: absolute;
  right: 100px;
  max-height: 500px;
}

.todo-wrap .todo-heading {
  height: 60px;
  background: var(--tdbg);
  color: var(--text-color);
  line-height: 60px;
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  padding: 0 10px;
  font-family: var(--font3);
  box-shadow: 0px 2px 10px #000;
}

.add-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 1em;
  color: var(--btn-bg);
  border: 1;
  background: transparent;
}

.todo-list {
  list-style: none;
  max-height: 440px;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
  width: 0em;
}

.todo-list li {
  padding: 10px;
  position: relative;
  overflow: hidden;
  background: var(--tdbg);
  color: #fff;
  font-family: var(--font4);
  /* text-align: justify; */
  margin-top: 5px;
  margin-bottom: 17px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

/* .todo-list li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  -webkit-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  -moz-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  -ms-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  -o-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
} */

/* .todo-list li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  -webkit-transform: perspective(100px) rotateX(-3deg) translateY(3px);
  -moz-transform: perspective(100px) rotateX(-3deg) translateY(3px);
  -ms-transform: perspective(100px) rotateX(-3deg) translateY(3px);
  -o-transform: perspective(100px) rotateX(-3deg) translateY(3px);
} */

.todo-list li .lead {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.todo-list li .small {
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.315);
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 10px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.todo-list li:hover .delete-btn {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.todo-form-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.623);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.todo-form-wrap.show {
  visibility: visible;
  opacity: 1;
}

.tf-card {
  background: #fff;
  padding: 20px;
  color: #403d41;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.tf-card-h {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.tf-card-b .task {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.075);
  outline: none;
  border: 0px;
}

.ts-btn {
  float: right;
}

.sites-btn {
  position: absolute;
  bottom: 20px;
  border: 0px;
  background: transparent;
  font-size: 1.7em;
  color: var(--btn-bg);
}

.sites-container {
  width: 100%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.918);
  padding: 20px 10px;
  border-radius: 10px;
  padding-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  bottom: 70px;
  transform: translateY(130%);
  -webkit-transform: translateY(130%);
  -moz-transform: translateY(130%);
  -ms-transform: translateY(130%);
  -o-transform: translateY(130%);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.sites-container.show {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.site {
  width: 70px;
  height: 70px;
  float: left;
  margin-bottom: 30px;
  padding: 7px;
}

.site a {
  display: block;
  color: red;
  background: rgba(128, 128, 128, 0.493);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.site a:hover {
  background: gray;
}

.site a i {
  /* color: red; */
  font-size: 2em;
}

/* Social media colors */
.fa-twitter {
  color: #00aced;
}
.fa-facebook {
  color: #3b5998;
}
.fa-pinterest {
  color: #cb2027;
}
.fa-linkedin {
  color: #007bb6;
}
.fa-youtube {
  color: #bb0000;
}
.fa-vimeo {
  color: #1ab7ea;
}
.fa-instagram {
  color: #bc2a8d;
}
.fa-dribbble {
  color: #ea4c89;
}
.fa-quora {
  color: #a82400;
}
.fa-github {
  color: #363636;
}
.fa-medium {
  color: #141414;
}

@media (max-width: 1200px) {
  .todo-wrap {
    right: 30px;
  }
}
@media (max-width: 992px) {
  .todo-wrap {
    transition: transform 0.3s ease;
    transform: translateX(90%);
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -ms-transform: translateX(90%);
    -o-transform: translateX(90%);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
  }
  .todo-wrap:hover {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@media (max-width: 600px) {
  .avatar-wrap {
    width: 120px;
    height: 120px;
  }
  .text {
    font-size: 1.1em;
  }
  .weather-wrap {
    font-size: 1.2em;
  }
}
